# --- Template: Duplicate this file to '.env' and populate with your values ---
AWS_ENDPOINT_URL=http://localhost:4566
AWS_S3_BUCKET_NAME=your-bucket-name-here
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=mock_access_key
AWS_SECRET_ACCESS_KEY=mock_secret_key
WATCH_DIR=./stream_drops